<div class="container-fluid text-center">
  <h1>Welcome to Tic Tac Toe</h1>
  <div class="mt-5 d-flex h-100 justify-content-center align-items-center flex-column">
    <div >
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Game ID" aria-label="Game ID" aria-describedby="button-addon2" [(ngModel)]="boardId">
        <button class="btn btn-outline-primary btn-lg" type="button" id="button-addon2" (click)="joinGame()">Join Game</button>
      </div>
      <button type="button" class="btn btn-primary btn-lg" (click)="newGame()">New Game</button>
    </div>
  </div>
</div>
