<div class="d-flex flex-row flex-wrap justify-content-betweeen">
  <app-page-card title="Tic Tac Toe" description="A game" link="./hub" image="template-image.jpg" class="col-12 col-md-6 col-lg-3"></app-page-card>
  <app-page-card title="Tic Tac Toe" description="A game" link="./hub" image="template-image.jpg" class="col-12 col-md-6 col-lg-3"></app-page-card>
  <app-page-card title="Tic Tac Toe" description="A game" link="./hub" image="template-image.jpg" class="col-12 col-md-6 col-lg-3"></app-page-card>
  <app-page-card title="Tic Tac Toe" description="A game" link="./hub" image="template-image.jpg" class="col-12 col-md-6 col-lg-3"></app-page-card>
</div>
