<div class="flex p-5 h-100 w-100 justify-items-center align-content-center">
  <div class="d-flex align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center">
      <h5 class=" text-center">{{player?.Name}}</h5>
      <app-connection-status-indicator [status]="player.Connected"></app-connection-status-indicator>
    </div>
    <img class="d-none d-md-block" [src]="imageUrl" style="width: 8vw;">
    <img class="d-block d-md-none" [src]="imageUrl" style="width: 25vw;">
  </div>
</div>

