<div class="container text-center">
  <h1 class="mt-5">Tic Tac Toe</h1>
  <ng-container *ngIf="screenWidth >= 768;else mobile">
    <div class="row" *ngIf="board">
      <div class="col-1">
        <app-player-dial [player]="myPlayer"></app-player-dial>
      </div>
      <div class="col-10">
        <h5>{{turn?.Name}}'s turn</h5>

        <app-board [board]="board" [activeTurn]="turn.Id == playerId" (play)="play($event)" (gameOver)="gameOver($event)"></app-board>

        <div class="d-flex justify-content-center align-items-center">
          <app-share-btn class="me-1" [boardId]="board.Id"></app-share-btn>
          <button class="btn btn-primary btn-restart mt-0 ms-1" id="restart" (click)="restart()">Restart game</button>
        </div>

      </div>
      <div class="col-1">
        <app-player-dial *ngIf="adversary" [player]="adversary"></app-player-dial>
      </div>
    </div>
  </ng-container>
  <ng-template #mobile>
    <div class="d-flex flex-column justify-items-center align-itens-center ">
      <ng-container *ngIf="board">
        <div class="col-12">
          <h5>{{turn?.Name}}'s turn</h5>

          <app-board [board]="board" [activeTurn]="turn.Id == playerId" (play)="play($event)" (gameOver)="gameOver($event)"></app-board>

          <div class="d-flex justify-content-center align-items-center">
            <app-share-btn class="me-1" [boardId]="board.Id"></app-share-btn>
            <button class="btn btn-primary btn-restart mt-0 ms-1" id="restart" (click)="restart()">Restart game</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-player-dial [player]="myPlayer"></app-player-dial>
          </div>
          <div class="col-6">
            <app-player-dial *ngIf="adversary" [player]="adversary"></app-player-dial>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>



