<div class="card w-75 d-md-none m-3" data-bs-theme="dark">
  <img [src]="'../../../../assets/images/hub/' + image" class="card-img-top" alt="card-image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a [href]="link" class="btn btn-primary">Access</a>
  </div>
</div>

<div class="card w-100 d-none d-md-block m-3">
  <img [src]="'../../../../assets/images/hub/' + image" class="card-img-top" alt="card-image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a [href]="link" class="btn btn-primary">Access</a>
  </div>
</div>
